{% load static %}
<footer class="bg-black px-3 py-5">
    <div class="container">
        <p class="text-secondary">Sorularınız mı var? <a class="link-secondary" href="#"> 0850-390-7444</a> numaralı telefonu arayın</p>
        <div class="row row-cols-lg-4 row-cols-md-3 row-cols-2 text-md-start text-center">
            <ul class="list-unstyled">
                <li class="py-2">
                    <a class="link-secondary" href="#">Lorem.</a>
                </li>
                <li class="py-2">
                    <a class="link-secondary" href="#">Lorem.</a>
                </li>
                <li class="py-2">
                    <a class="link-secondary" href="#">Lorem.</a>
                </li>
                <li class="py-2">
                    <a class="link-secondary" href="#">Lorem.</a>
                </li>
            </ul>
            <ul class="list-unstyled">
                <li class="py-2">
                    <a class="link-secondary" href="#">Lorem.</a>
                </li>
                <li class="py-2">
                    <a class="link-secondary" href="#">Lorem.</a>
                </li>
                <li class="py-2">
                    <a class="link-secondary" href="#">Lorem.</a>
                </li>
                <li class="py-2">
                    <a class="link-secondary" href="#">Lorem.</a>
                </li>
            </ul>
            <ul class="list-unstyled">
                <li class="py-2">
                    <a class="link-secondary" href="#">Lorem.</a>
                </li>
                <li class="py-2">
                    <a class="link-secondary" href="#">Lorem.</a>
                </li>
                <li class="py-2">
                    <a class="link-secondary" href="#">Lorem.</a>
                </li>
                <li class="py-2">
                    <a class="link-secondary" href="#">Lorem.</a>
                </li>
            </ul>
            <ul class="list-unstyled">
                <li class="py-2">
                    <a class="link-secondary" href="#">Lorem.</a>
                </li>
                <li class="py-2">
                    <a class="link-secondary" href="#">Lorem.</a>
                </li>
                <li class="py-2">
                    <a class="link-secondary" href="#">Lorem.</a>
                </li>
                <li class="py-2">
                    <a class="link-secondary" href="#">Lorem.</a>
                </li>
            </ul>
           
        </div>
        <div class="dropdown">
            <button class="esitle btn btn-secondary dropdown-toggle bg-dark" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa-solid fa-language"></i> <span class="yokol" >Türkçe</span>
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item dil-sec " href="#"><i class="fa-solid fa-language"></i> <span class="yokol" >Turkçe</span> </a></li>
              <li><a class="dropdown-item dil-sec " href="#"><i class="fa-solid fa-language"></i> <span class="yokol" >İngilizce</span> </a></li>
            </ul>
        </div>
        <p class="text-secondary mt-2">Netflix Memet</p>
    </div>
</footer>