{% extends "base.html" %} {% load static %} {% block css %}
    <style>
        body{
            background-color: black !important;
        }
    </style>
{% endblock css %}

{% block content %}

<div class="content h-100 d-flex flex-column justify-content-center align-items-center  text-white fs-5 container text-center p-3">

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
        <label for="{{field.id_for_label}}">{{field.label}}</label>
        {{field}}
        {% endfor %}
        <input type="submit" value="Profil Ekle" class="btn btn-outline-light">
    </form>
   
</div>

{% endblock content %}