{% extends "base.html" %}
{% load static %}

{% block css %}
    <style>
        body{
            background-color: black !important;
        }
    </style>
{% endblock css %}


{% block content %}
{% include "partials/_navbar.html" %}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h1 class="text-white">Aradığınız Filmler</h1>
            <div class="cizgi"></div>
        </div>
        {% if filmler %}
        {% for film in filmler %}
        <div class="col-3">
            <div class="card bg-transparent">
                
                <img src="{{film.image.url}}" alt="">
                <p class="text-white">{{film.title}}</p>
                <a href="{% url 'movie-detial' film.slug %}">İzle</a>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <h1 class="text-white">{{q}} ile ilgili sonuç bulunamadı</h1>
        {% endif %}

        


    </div>
</div>



{% endblock content %}